#include <zephyr/dt-bindings/display/ili9xxx.h>
#include <zephyr/dt-bindings/led/led.h>

/*
 * Pin assignments:
 * SPI2: W5500 Ethernet only
 *   - SCLK: GPIO12
 *   - MOSI: GPIO11
 *   - MISO: GPIO13
 *   - CS: GPIO10
 *   - INT: GPIO4
 *   - RST: GPIO5
 *
 * SPI3: ILI9341 Display only (custom pins avoiding GPIO38)
 *   - SCLK: GPIO36
 *   - MOSI: GPIO39
 *   - CS: GPIO15
 *   - DC: GPIO14
 *   - RST: GPIO21
 *
 * I2S0: WS2812 LED
 *   - Data: GPIO38
 */

/* Custom pinctrl configurations */
&pinctrl {
	/* SPI2 for W5500 - NO hardware CS, we use software CS via cs-gpios */
	spim2_w5500: spim2_w5500 {
		group1 {
			pinmux = <SPIM2_MISO_GPIO13>,
				 <SPIM2_SCLK_GPIO12>;
		};
		group2 {
			pinmux = <SPIM2_MOSI_GPIO11>;
			output-low;
		};
	};

	/* SPI3 for display (avoiding GPIO38) */
	spim3_display: spim3_display {
		group1 {
			pinmux = <SPIM3_SCLK_GPIO36>;
		};
		group2 {
			pinmux = <SPIM3_MOSI_GPIO39>;
			output-low;
		};
	};

	/* I2S0 for WS2812 LED on GPIO38 */
	i2s0_ws2812: i2s0_ws2812 {
		group1 {
			pinmux = <I2S0_O_SD_GPIO38>;
			output-low;
		};
	};
};

/* SPI2: W5500 Ethernet only */
&spi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&spim2_w5500>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;

	eth_w5500: eth_w5500@0 {
		compatible = "wiznet,w5500";
		reg = <0x0>;
		spi-max-frequency = <8000000>;
		int-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
		zephyr,random-mac-address;
		status = "okay";
	};
};

/* SPI3: Display only */
&spi3 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&spim3_display>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
};

/* Enable DMA for I2S */
&dma {
	status = "okay";
};

/* I2S0: WS2812 LED */
&i2s0 {
	status = "okay";
	pinctrl-0 = <&i2s0_ws2812>;
	pinctrl-names = "default";

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-i2s";
		status = "okay";
		reg = <0>;
		chain-length = <1>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
		reset-delay = <250>;
	};
};

/ {
	chosen {
		zephyr,display = &ili9341;
	};

	aliases {
		led-strip = &led_strip;
	};

	/* MIPI-DBI controller for ILI9341 on SPI3 */
	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi3>;
		dc-gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 21 GPIO_ACTIVE_LOW>;
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;

		ili9341: ili9341@0 {
			compatible = "ilitek,ili9341";
			reg = <0>;  /* CS index 0 = GPIO15 */
			mipi-max-frequency = <15000000>;
			width = <320>;
			height = <240>;
			pixel-format = <ILI9XXX_PIXEL_FORMAT_RGB565>;
			rotation = <90>;
		};
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		mender_partition: partition@7F1000 {
			label = "mender-partition";
			reg = <0x7F1000 DT_SIZE_K(16)>;
		};
	};
};
